@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.container-general {
    padding-left: 50px;
    padding-right: 50px;
}
* {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    font-size: 20px;
}
